@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Identity Server</h1>
    <p class="lead">Identity Server is the membership system for the Building blocks application. </p>
    <p><a href="http://identityserver.io" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
